{% assign url_chars = page.url | split: '' %}
{% assign hash = 0 %}
{% for char in url_chars %}
  {% assign ascii = char | append: '' | size %}
  {% assign hash = hash | plus: ascii %}
{% endfor %}

{% capture kofi_link %}{{ site.donate.kofi }}{% endcapture %}
{% capture prompt_list %}
Enjoyed this blog post? <a href='{{ kofi_link }}'>Please buy me a coffee.</a>|
Like what you read? <a href='{{ kofi_link }}'>Show your appreciation with ko.fi!</a>|
Found this helpful? <a href='{{ kofi_link }}'>Consider buying me a coffee.</a>|
Found this interesting? <a href='{{ kofi_link }}'>Consider buying me a coffee.</a>|
Want to see more content like this? <a href='{{ kofi_link }}'>Buy me a coffee!</a>|
Help keep this blog running with a <a href='{{ kofi_link }}'>coffee donation!</a>|
<a href='{{ kofi_link }}'>Your support through ko.fi</a> keeps this blog brewing!|
Fuel my writing habit with <a href='{{ kofi_link }}'>a ko.fi donation!</a>|
<a href='{{ kofi_link }}'>Every coffee helps create more content like this!</a>
{% endcapture %}

{% assign prompts = prompt_list | split: "|" %}
{% assign prompt_index = hash | modulo: prompts.size %}
{{ prompts[prompt_index] }}