<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--2-4-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/' title="Get Info is a blog by Matt Sephton">{{ site.extitle }}</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--2-4-s'>
            <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
              <a href="/navigation" class='c-off-canvas-toggle__icon'><noscript>&nbsp;</noscript></a>
            </label>
          </div>

          <div class='o-grid__col o-grid__col--1-4-s'>
            <div id="sidebar" class='c-off-canvas-content'>
              <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close'>
                <span class='c-off-canvas-toggle__icon'></span>
              </label>

              <ul class='c-nav o-plain-list '>
                {% include_cached navigation.html pname=page.name %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>