      <li class='c-nav__item c-nav__by' role='presentation'>
        by <a href="https://www.gingerbeardman.com" class="c-nav__by">Matt Sephton</a>
      </li>
{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='https://twitter.com/{{ site.twitter.username }}' target='_blank'>Twitter</a>
      </li>
