{% if include.published != 'private' %}
<div class='o-grid__col--full o-grid__col--final'>

  <a href='{{ include.purl | prepend: include.sbaseurl }}' class='c-post-card'>
    <h3 class='c-post-card__title'>
      {{ include.ptitle }}
      <span class="u-right">
        {% assign post_date = include.pdate | date: '%s' | minus: 0 %}
        {% assign ago_date = 'now' | date: '%s' | minus: 0 %}
        {% if post_date > ago_date %}
          <span class="new">!&nbsp;</span>
        {% else %}
          {% if include.ppinned %}📍{% endif %}
          {% if include.precap %}🗓{% endif %}
          {% if include.pfeatured %}♥{% endif %}
        {% endif %}
      </span>
    </h3>

    <span class='c-post-card__date'>
      {{ include.pdate | date: '%Y-%m-%d' }}
      &nbsp;•&nbsp; {% include_cached post-card-read-time.html pcontent=include.pcontent %}

      {% comment %}
      {% if include.ptags %}
      {% assign sorted_tags = include.ptags | sort %}
      <br>
      {% for tag in sorted_tags %}
        #{{ tag }}
      {% endfor %}
      {% endif %}
      {% endcomment %}
    </span>

    {% comment %}
    {% if include.pimage %}
      <img src='{{ include.pimage | prepend: include.sbaseurl }}' class='c-post__image' alt='{{ include.ptitle }}'>
    {% endif %}
    {% endcomment %}

  </a>

</div>
{% endif %}
