@use "../settings/spaces";
@use "../tools/functions";

/*------------------------------------*\
  Objects > Wrapper
\*------------------------------------*/

.o-wrapper {
  padding: spaces.$base-spacing-unit 0 functions.double(spaces.$base-spacing-unit) 0;

  &.post-page {
    padding: functions.double(spaces.$base-spacing-unit) 0;
  }
}

/**
 * Sticky footer
 */
.c-off-canvas-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .o-wrapper { flex: 1 0 auto; }
}