@use "../settings/type";

/*------------------------------------*\
  Trumbs > Typography
\*------------------------------------*/

.u-font-medium  {
  font-size: type.$font-size-medium;
  line-height: type.$line-height-medium;
}

.u-font-small {
  font-size: type.$font-size-small;
  line-height: type.$line-height-small;
}

.u-font-tiny {
  font-size: type.$font-size-tiny;
  line-height: type.$line-height-tiny;
}