// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #00A0FF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-text:  #323232;
$color-gray:  #999999;
$color-dark:  #808080;
$color-darker:#666666;

// Background Colors
$bg-color-black:              $color-black;
$bg-color-white:              $color-white;
$bg-color-dark:               #222228;
$bg-color-gray:               #FAFAFA;
$bg-color-playdate:           #FFCD3F;
$bg-color-playdate-selected:  #D8AD35;
$bg-color-macintosh:          #F2F2F2;
$bg-color-macintosh-selected: #CCCCCC;
$bg-color-mac-code:           #ECECEC;
$bg-color-piece:              #C7C7D0;
$bg-color-piece-selected:     #A3A3AA;
$bg-color-piece-code:         #DDDDDD;
$bg-color-windows:            #007E78;
$bg-color-win-code:           #ECECEC;

// Border
$color-border: #E9EFF3;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;
