/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 2px solid $color-dark;
  color: $color-dark;

  a {
    color: $color-dark;
  }
}