@use "../settings/colors";
@use "../settings/spaces";

/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: spaces.$base-spacing-unit;
  border-left: 2px solid colors.$color-dark;
  color: colors.$color-dark;

  a {
    color: colors.$color-dark;
  }
}