@use "../settings/colors";
@use "../settings/type";

/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: colors.$color-text;
  font-size: type.$font-size-base;
  font-family: type.$font-base;
  line-height: type.$line-height-base;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: colors.$color-white;
  background: colors.$color-brand;
}