@use "../settings/colors";
@use "../settings/spaces";
@use "../tools/functions";

/*------------------------------------*\
  Elements > hr
\*------------------------------------*/

hr {
  height: 1px;
  margin: functions.double(spaces.$base-spacing-unit) 0;

  border: 0;

  background-color: colors.$color-border;
}