@use "../settings/colors";
@use "../settings/global";
@use "../settings/spaces";
@use "../settings/type";
@use "../tools/mixins";

/*------------------------------------*\
  Elements > Inputs
\*------------------------------------*/

$input-border: colors.$color-border;
$input-border-focused: colors.$color-text;

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: spaces.$base-spacing-unit;

  border: 1px solid colors.$color-border;
  border-radius: 0;
  outline: none;
  background-color: colors.$color-white;
  font-size: type.$font-size-small;

  appearance: none;
  transition: global.$global-transition;

  @include mixins.attention() {
    border: 1px solid $input-border-focused;
  }
}