body.macintosh {
  background-color: $bg-color-macintosh;

  .c-content {
    overflow-x: unset;
  }

  *::selection {
    background: $bg-color-macintosh-selected;
  }

  a,
  .tag-filter span,
  .c-post-card__date,
  .c-post-card__title,
  .c-post-card .c-post-card__title,
  .c-post-card .c-post-card__date,
  .c-post__date,
  .c-tags a {
    color: $color-text;
  }

  a:hover,
  .c-post-card:hover,
  .c-post-card__title:hover,
  .c-post-card:hover .c-post-card__title,
  .c-tags a:hover {
    color: $color-darker;
    background-color: transparent;
  }

  figcaption,
  .c-logo__link span,
  .c-byline__desc,
  .c-byline__desc a {
    color: $color-text;
  }

  code,
  .highlighter-rouge {
    background-color: transparent;
  }

  .c-post-card,
  .c-header__inner {
    border-color: $color-text;
  }

  blockquote {
    color: $color-darker;
    border-color: $color-darker;
  }

  .tablesorter-default th, .tablesorter-default td {
    border-color: $color-darker;
  }

  hr {
    background-color: $color-darker;
    border-top: 1px solid $color-darker;
  }
}
