@use "../settings/colors";

body {
  .c-content {
    overflow-x: unset;
  }
}

body.playdate {
  background-color: colors.$bg-color-playdate;

  .c-content {
    overflow-x: unset;
  }

  *::selection {
    background: colors.$bg-color-playdate-selected;
  }

  a,
  .tag-filter span,
  .c-post-card__date,
  .c-post-card__title,
  .c-post-card .c-post-card__title,
  .c-post-card .c-post-card__date,
  .c-post__date,
  .c-tags a {
    color: colors.$color-text;
  }

  a:hover,
  .c-post-card:hover,
  .c-post-card__title:hover,
  .c-post-card:hover .c-post-card__title,
  .c-tags a:hover {
    color: colors.$color-white;
    background-color: transparent;
  }

  figcaption,
  .c-logo__link span,
  .c-byline__desc,
  .c-byline__desc a {
    color: colors.$color-text;
  }

  code,
  .highlighter-rouge {
    background-color: transparent;
  }

  .c-post-card,
  .c-header__inner {
    border-color: colors.$color-text;
  }

  blockquote {
    color: colors.$playdate-color-darker;
    border-color: colors.$playdate-color-darker;
  }

  .tablesorter-default th, .tablesorter-default td {
    border-color: colors.$playdate-color-darker;
  }
  
  hr {
    background-color: colors.$color-text;
    border-top: 1px solid colors.$color-text;
  }
}
