table {
  font-size: $font-size-medium !important;
}

th {
  font-weight: normal;
  outline: none;
}

th, td {
  white-space: nowrap;
}

.tablesorter-default,
.tablesorter-default th,
.tablesorter-default td {
  background-color: transparent !important;
}

.tablesorter-default th,
tfoot td {
  text-transform: uppercase;
  font-weight: normal;
}

tfoot {
  border-top: 2px solid #ccc;
}