@use "../settings/type";

table {
  font-size: type.$font-size-medium !important;
}

th {
  font-weight: normal;
  outline: none;
}

th, td {
  white-space: nowrap;
}

.tablesorter-default,
.tablesorter-default th,
.tablesorter-default td {
  background-color: transparent !important;
}

.tablesorter-default th,
tfoot td {
  text-transform: uppercase;
  font-weight: normal;
}

tfoot {
  border-top: 2px solid #ccc;
}

table.donotsort {
  width: 100%;
}

table.donotsort th,
table.donotsort td {
  margin: .25rem auto 1rem;
  font-size: 0.9rem;
  text-align: center;
  color: #999;
}
table.donotsort img {
  margin: 0 auto;
}

div.table-wrapper {
  width: 100%;
  overflow-x: auto;
}
