table {
  width: 100%;
  font-size: $font-size-medium !important;
}

th {
  text-align: left;
  font-weight: normal;
}

th, td {
  text-align: center;
  white-space: nowrap;
}
th:first-child, td:first-child,
th:last-child, td:last-child {
  text-align: left;
}

th:last-child, td:last-child {
  color: $color-gray !important;
}

.tablesorter-default,
.tablesorter-default th,
.tablesorter-default td {
  background-color: transparent !important;
}

.tablesorter-default th {
  text-transform: uppercase;
  font-weight: normal;
}