body.windows {
  background-color: $bg-color-windows;
  color: $color-white;

  .c-post__date,
  .c-tags a {
    color: $color-white;
  }

  a, a:hover,
  .c-tags a:hover {
    color: $color-white;
    background-color: transparent;
    transition: none;
  }

  .c-logo__link span,
  .c-byline__desc,
  .c-byline__desc a {
    color: $color-white;
  }

  code,
  .highlighter-rouge {
    background-color: transparent;
  }

  .c-header__inner {
    border-color: $color-white;
  }

  blockquote {
    color: $color-white !important;
    border-left: 2px solid $color-white;
  }

  .highlighter-rouge .highlight {
    background-color: $bg-color-win-code;
  }
  
  .c-off-canvas-toggle__icon {
    background-color: $color-white;
  }
}
