@use "../settings/colors";
@use "../settings/global";
@use "../settings/spaces";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mixins";

/*------------------------------------*\
  Components > Buttons
\*------------------------------------*/

$btn-bg:       #207cdf;
$btn-bg-hover: #238cf6;

.c-btn {
  display: inline-block;
  padding: functions.half(spaces.$base-spacing-unit) functions.double(spaces.$base-spacing-unit);

  cursor: pointer;
  transition: global.$global-transition;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: inherit;

  border: 0;
  border-radius: 0;

  color: colors.$color-white;
  background-color: $btn-bg;
  font-size: type.$font-size-medium;

  @include mixins.attention() {
    text-decoration: none;
    background-color: $btn-bg-hover;
  }

  &--full {
    width: 100%;
  }

  &--small {
    padding: functions.quarter(spaces.$base-spacing-unit) spaces.$base-spacing-unit;
  }
}