@use "../settings/colors";
@use "../settings/global";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mixins";
@use "../tools/mq";

/*------------------------------------*\
  Components > Comments
\*------------------------------------*/

.c-comments {
  margin-bottom: 1rem;

  a {
    display: inline-block;

    font-family: type.$font-base;
    line-height: type.$line-height-medium;
    color: colors.$color-gray;

    text-decoration: underline;
    text-decoration-skip: ink;
    color: colors.$color-text;

    transition: global.$global-transition;

    &:hover {
      color: colors.$color-brand;
      text-decoration: underline !important;
      text-decoration-skip: ink;
    }

    @include mixins.attention() {
      text-decoration: none;
      background-color: colors.$bg-color-gray;
    }
  }

  @include mq.mq($until: tablet) {
    margin-bottom: type.$line-height-medium - functions.half(functions.quarter(type.$line-height-medium));
  }
}