@use "../settings/colors";
@use "../tools/mixins";

/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  overflow-x: auto;

  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include mixins.attention() {
      color: colors.$color-brand;
    }
  }
}