@use "../settings/spaces";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mq";

/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: functions.double(spaces.$base-spacing-unit) 0;
  // background-color: $bg-color-gray;
  
  .tag-cloud {
    line-height: 1.3rem;
  }

  @include mq.mq($until: tablet) {
    font-size: type.$font-size-medium;
    line-height: 1.2rem;
  }
}
