@use "../settings/colors";
@use "../settings/spaces";

/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  &__inner {
    padding: spaces.$base-spacing-unit 0;
    border-bottom: 2px solid colors.$color-border;
  }

  &__icon {
    vertical-align: middle;
  }
}