@use "../settings/colors";
@use "../settings/global";
@use "../settings/type";
@use "../tools/mixins";
@use "../tools/mq";

/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font-size: type.$font-size-larger;
    transition: global.$global-transition;

    span {
      // display: none;
      color: silver;
    }

    &:hover span {
      // display: inline;
      // margin-right: 2rem;
    }

    @include mixins.attention() {
      color: colors.$color-brand;
      text-decoration: none;
    }
  }
  
  @include mq.mq(mobile, tablet) {
    font-size: type.$font-size-medium;
  }
}

.c-byline {
  float: right;

  &__desc {
    color: silver;
    font-size: type.$font-size-large;
  }
  
  @include mq.mq(mobile, tablet) {
    font-size: type.$font-size-medium;
  }
}