@use "../settings/colors";
@use "../settings/global";
@use "../settings/type";
@use "../tools/mixins";

/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  *::selection {
    color: colors.$color-link-hover;
  }
  
  &__item {
    font-size: type.$font-size-large;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;

    a:hover {
      color: colors.$color-link-hover !important;
      text-decoration: underline;
    }
  }

  &__by {
    font-size: type.$font-size-large;
    color: colors.$color-gray !important;
    padding-bottom: 1.5rem;
  }

  &__social {
    font-size: type.$font-size-large;
    color: colors.$color-gray;
    padding-top: 1.0rem;
  }

  &__link {
    display: block;
    transition: global.$global-transition;

    &--current {
      color: colors.$color-brand;

      .home-template &:not(:hover) {
        color: colors.$color-link;
      }
    }

    @include mixins.attention() {
      color: colors.$color-brand;
      text-decoration: none;
    }
  }
}