/*------------------------------------*\
  Components > Site Navigation
\*------------------------------------*/

.c-nav {
  *::selection {
    color: $color-link-hover;
  }
  
  &__item {
    font-size: $font-size-large;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;

    a:hover {
      color: $color-link-hover !important;
      text-decoration: underline;
    }
  }

  &__by {
    font-size: $font-size-large;
    color: $color-gray !important;
    padding-bottom: 1.5rem;
  }

  &__social {
    font-size: $font-size-large;
    color: $color-gray;
    padding-top: 1.0rem;
  }

  &__link {
    display: block;
    transition: $global-transition;

    &--current {
      color: $color-brand;

      .home-template &:not(:hover) {
        color: $color-link;
      }
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}