@use "../settings/colors";
@use "../settings/global";
@use "../settings/spaces";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mixins";
@use "../tools/mq";

/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

.c-pagination {
  text-transform: uppercase;
  transition: global.$global-transition;
  margin-top: 25px;
  display: block;

  &__number {
    float: left;
  }

  &__page {
    text-align: center;
  }

  &__label {
    @include mq.mq(mobile, tablet) {
      display: none;
    }
  }

  @include mixins.attention() {
    color: colors.$color-brand;
    text-decoration: none;
  }

  em {
    display: block;
    clear: both;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
  }

  &__text {
    position: relative;
    font-size: type.$font-size-small;
    letter-spacing: 2px;
  }

  &__icon {
    vertical-align: middle;

    &--prev {
      left: - functions.half(spaces.$base-spacing-unit);
    }

    &--next {
      right: - functions.half(spaces.$base-spacing-unit);
    }
  }
}

.prevnext {
  width: 45%;
  
  @include mq.mq(mobile, tablet) {
    clear: both;
    width: 75%;
  }
}