/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

.c-pagination {
  text-transform: uppercase;
  transition: $global-transition;
  margin-top: 25px;
  display: block;

  &__number {
    float: left;
  }

  &__page {
    text-align: center;
  }

  &__label {
    @include mq(mobile, tablet) {
      display: none;
    }
  }

  @include attention() {
    color: $color-brand;
    text-decoration: none;
  }

  em {
    display: block;
    clear: both;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
  }

  &__text {
    position: relative;
    font-size: $font-size-small;
    letter-spacing: 2px;
  }

  &__icon {
    vertical-align: middle;

    &--prev {
      left: - half($base-spacing-unit);
    }

    &--next {
      right: - half($base-spacing-unit);
    }
  }
}

.prevnext {
  width: 45%;
  
  @include mq(mobile, tablet) {
    clear: both;
    width: 75%;
  }
}