@use "../settings/colors";
@use "../settings/spaces";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mq";

/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  margin: 0 auto;
  max-width: 740px;

  &__title {
    // font-size: $font-size-base;
    margin-bottom: 0;

    @include mq.mq($from: tablet) {
      font-size: functions.double(type.$font-size-small);
    }
  }

  &__date {
    position: relative;
    padding-top: functions.half(spaces.$base-spacing-unit);
    display: block;
    margin-bottom: functions.half(spaces.$base-spacing-unit);
    font-size: type.$font-size-small;
    font-weight: type.$font-weight-bold;
    line-height: type.$line-height-small;
    color: colors.$color-gray;

    // &:after {
    //   position: absolute;
    //   content: '';
    //   top: 0;
    //   left: 50%;
    //   height: 1px;
    //   width: quadruple($base-spacing-unit);
    //   background: $bg-color-gray;
    //   transform: translateX(-50%);
    // }
  }

  &__image {
    margin: 0 auto spaces.$base-spacing-unit;
  }
}