@use "../settings/colors";
@use "../settings/global";
@use "../settings/spaces";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mq";

/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

.c-post-card {
  display: block;
  padding: spaces.$base-spacing-unit 0;
  word-break: break-word;
  border-bottom: 1px solid colors.$color-border;

  .new {
    font-weight: bold;
  }

  .fave {
    font-weight: bold;
  }

  &--first {
    padding-top: 0;
  }

  &--last {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &--post {
    padding: 0;
  }

  &__title {
    margin-bottom: functions.half(type.$font-size-base);
    font-size: type.$font-size-base;
    font-weight: type.$font-weight-bold;
    transition: global.$global-transition;

    @include mq.mq($from: tablet) {
      font-size: functions.double(type.$font-size-small);
    }
  }

  &__excerpt {
    margin-bottom: functions.half(type.$font-size-base);
  }

  &__date {
    display: block;
    color: colors.$color-gray;
    direction: ltr;
    font-size: type.$font-size-small;
    font-weight: type.$font-weight-bold;
    line-height: type.$line-height-small;
    // text-transform: uppercase;
  }

  &:hover {
    color: colors.$color-text;
    text-decoration: none;

    .c-post-card__title {
      color: colors.$color-brand;
    }
  }
}