@use "../settings/colors";
@use "../settings/global";
@use "../tools/mixins";

/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/

.c-social-nav {
  &__item {
    display: inline-block;
  }

  &__icon {
    fill: colors.$color-text;
    vertical-align: middle;
    transition: global.$global-transition;

    @include mixins.attention() {
      fill: colors.$color-brand;
    }
  }
}