@use "../settings/colors";
@use "../settings/global";
@use "../settings/type";
@use "../tools/functions";
@use "../tools/mixins";
@use "../tools/mq";

/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    display: inline-block;

    font-family: type.$font-base;
    // font-size: $font-size-base;
    line-height: type.$line-height-medium;
    color: colors.$color-gray;

    transition: global.$global-transition;

    @include mixins.attention() {
      text-decoration: none;
      background-color: colors.$bg-color-gray;
    }
  }

  @include mq.mq($until: tablet) {
    margin-bottom: type.$line-height-medium - functions.half(functions.quarter(type.$line-height-medium));
  }
}