<!DOCTYPE html>
<html lang='en'>

{% include_cached head.html ptag=page.tag pname=page.name ptitle=page.title stitle=site.title sextitle=site.extitle sdescription=site.description pexcerpt=page.excerpt purl=page.url surl=site.url sbaseurl=site.baseurl sanalytics=site.google_analytics %}

<body class="{% if page.tags contains 'piece' %}piece {% elsif page.tags contains 'playdate' or page.tags contains 'dailydriver' %}playdate {% elsif page.tags contains 'atarist' %}atarist {% elsif page.tags contains 'windows' %}windows {% elsif page.tags contains 'macintosh' or page.tags contains 'system7' %}macintosh {% endif %}">

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include_cached header.html sdescription=site.description sbaseurl=site.baseurl sextitle=site.extitle shomepage=site.homepage sauthor=site.author pname=page.name %}

    {{ content }}
  </div>

  {% assign scripts = "jquery-3.7.1.min.js|jquery.tablesorter.min.js|app.js|lite-yt-embed.min.js" | split: "|" %}
  {% for script in scripts %}
    <script src="{{ site.baseurl }}/js/{{ script }}" defer></script>
  {% endfor %}

{% if page.style %}
  <style type="text/css">
    {{ page.style }}
  </style>
{% endif %}
</body>

</html>