<!DOCTYPE html>
<html lang='en'>
{% include_cached head.html 
  pexcerpt=page.excerpt 
  pname=page.name 
  ptag=page.tag 
  ptitle=page.title 
  purl=page.url 
  sanalytics=site.google_analytics 
  sbaseurl=site.baseurl 
  sdescription=site.description 
  sextitle=site.extitle 
  stitle=site.title 
  surl=site.url
%}
<body class="{{ page.tags | join: ' ' }}">
  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include_cached header.html 
      pname=page.name 
      sauthor=site.author 
      sbaseurl=site.baseurl 
      sdescription=site.description 
      sextitle=site.extitle 
      shomepage=site.homepage 
    %}
    {{ content }}
    
    {% include_cached footer.html %}
  </div>

  {% assign scripts = "jquery-3.7.1.min.js|jquery.fitvids.js|jquery.tablesorter.min.js|app.js|lite-yt-embed.js" | split: "|" %}
  {% for script in scripts %}
    <script src="{{ site.baseurl }}/js/{{ script }}"></script>
  {% endfor %}

  {% if page.style %}
    <style>{{ page.style }}</style>
  {% endif %}
</body>
</html>