---
layout: default
---
{% include_cached base_path surl=site.url sbaseurl=site.baseurl %}

<div class='o-wrapper post-page'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>
        <a href='{{ page.url }}' class='c-post-card c-post-card--last c-post-card--post'>
          <h1 class='c-post__title'>
            {{ page.title }}
            {% if page.featured %}<span class="u-right fave">♥</span>{% endif %}
          </h1>
        </a>
        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>
          {{ page.modified | default: page.date | date: '%Y-%m-%d' }}
          {% if page.modified %} &nbsp;•&nbsp; edited{% endif %}
          &nbsp;•&nbsp; {% include_cached read-time.html pcontent=page.content %}
          {% if page.tags %}
            <span class='c-tags'>
              <br>
              {% assign sorted_tags = page.tags | sort %}
              {% for tag in sorted_tags %}
                <a href='{{ site.baseurl }}/tag/{{ tag }}/'>#{{ tag }}</a>
              {% endfor %}
            </span>
          {% endif %}
        </time>
        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}
          {% if page.nouns %}
            {{ content | replace_nouns: page.nouns }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
        {% if page.comments %}
          <div class='c-comments'>
            {% if page.modified %}
              --<br>
              Originally published: {{ page.date | date: '%Y-%m-%d' }}
              <br>
            {% endif %}
            --<br>
            {% include donation-prompt.html %}<br>
            --<br>
            Comments: 
            {% if page.comments.first.platform %}
              {% for comment in page.comments %}
                <a href="{{ comment.url }}" target="comments">
                  {% case comment.platform %}
                    {% when 'twitter' %}Twitter
                    {% when 'bluesky' %}Bluesky
                    {% when 'mastodon' %}Mastodon
                  {% endcase %}
                </a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            {% else %}
              <a href="{{ page.comments }}" target="comments">Twitter</a>
            {% endif %}
          </div>
        {% endif %}      </article>
    </div>
  </div>
  <div class='o-grid'>
    {% include pagination-post.html %}
  </div>
</div>