---
layout: default
---

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post'>
        <div class='c-content'>
          {% include_cached page-image.html pimage=page.image ptitle=page.title sbaseurl=site.baseurl %}
          
          <h1 class='c-post__title'>{{ page.title }}</h1>
          
          <p>
          {{ content }}
          </p>
          
          <form action="/search/" autocomplete="off">
            <input type="search" name="q" id="query" placeholder="type something here">
          </form>
          
          <br>
          <span id="search-results"><span>
          
        </div>
      </article>
    </div>
  </div>
</div>

<script src="/js/search.js"></script>
