---
layout: default
---

<div class='o-wrapper' data-pagefind-ignore="all">

  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post'>
        <div class='c-content'>
          {% include_cached page-image.html pimage=page.image ptitle=page.title sbaseurl=site.baseurl %}
          
          <h1 class='c-post__title'>{{ page.title }}</h1>
          
          <p>
          {{ content }}
          </p>

          <form action="/search/" method="get" autocomplete="off">
            <label for="q">Search blog:</label>
            <input type="search" name="q" id="query" placeholder="type something here">
          </form>
          
          <br>
          <div id="search-results"></div>
          
        </div>
      </article>
    </div>
  </div>
</div>

<script type="module" src="/js/pagefind-search.js"></script>
